{% extends 'base.html.twig' %}

{% block title %}{{ 'title.profile'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'title.profile'|trans }}</h2>

    <div style="display: flex; align-items: center; margin-bottom: 1rem;">
        <p>
            <strong>{{ 'label.email'|trans }}</strong> {{ user.email }}
        </p>
        <a href="{{ path('edit_email') }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
    </div>

    <div style="display: flex; align-items: center;">
        <p>
            <strong>{{ 'label.password'|trans }}</strong> ************
        </p>
        <a href="{{ path('edit_password') }}" class="btn btn-primary">{{ 'action.edit'|trans }}</a>
    </div>

    <a href="{{ path('bug_index') }}">{{ 'action.back'|trans }}</a>
{% endblock %}
