{% extends 'base.html.twig' %}

{% block title %}{{ 'title.archive_bug'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.archive_bug'|trans }}</h1>

    {{ form_start(form) }}
    <button class="btn btn-danger">{{ 'button.confirm_archive'|trans }}</button>
    <a href="{{ path('bug_show', {'id': bug.id}) }}" class="btn btn-secondary">{{ 'action.back'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}
