{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bug_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bug_list'|trans }}</h1>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            <a href="{{ path('bug_create') }}" class="btn btn-primary">
                {{ 'action.create_new_bug'|trans }}
            </a>
        </div>
    {% endif %}
    <div class="ms-auto">
        <a href="{{ path('category_index') }}" class="btn btn-outline-secondary me-2">
            {{ 'label.categories'|trans }}
        </a>
        <a href="{{ path('tag_index') }}" class="btn btn-outline-secondary">
            {{ 'label.tags'|trans }}
        </a>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('user_index') }}" class="btn btn-outline-secondary me-2">
            {{ 'label.users'|trans }}
        </a>
    {% endif %}
    <form method="get" action="{{ path('bug_index') }}" class="mb-3">
        <div class="form-group">
            <label for="category">{{ 'label.filter_by_category'|trans }}</label>
            <select id="categoryId" name="categoryId" class="form-control">
                <option value="">{{ 'label.all_categories'|trans }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == app.request.query.get('categoryId') %}selected{% endif %}>
                        {{ category.title }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">
            {{ 'action.filter'|trans }}
        </button>
    </form>


    {% if pagination is defined and pagination.items|length %}
        <div class="d-flex justify-content-between align-items-center mb-3">

        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="bug-list">
            {% for bug in pagination.items %}
                <div class="bug-item">
                    <div class="bug-info">
                        <div class="bug-updated-at">
                            <span class="label">{{ 'label.author'|trans }}</span> {{ bug.author.email }}
                            <span class="label">{{ 'label.updated_at'|trans }}</span> {{ bug.updatedAt|format_date('long') }}
                        </div>
                        <div class="bug-details">
                            <span class="bug-id"><span class="label">{{ 'label.id'|trans }}</span> {{ bug.id }}</span>
                            <span class="bug-title"><span class="label">{{ 'label.title'|trans }}</span> {{ bug.title }}</span>
                        </div>
                        <div class="bug-created-at"><span class="label">{{ 'label.created_at'|trans }}</span> {{ bug.createdAt|format_date('long') }}</div>
                        <div class="bug-category"><span class="label">{{ 'label.category'|trans }}</span> {{ bug.category.title }}</div>
                        <div class="bug-description">
                            <span class="label">{{ 'label.description'|trans }}</span> {{ bug.description|slice(0,100) ~'...' }}
                        </div>
                        <div class="bug-tags">
                            <span class="label">{{ 'label.tags'|trans }}</span>
                            {{ bug.tags|map(tag => tag.title)|join(', ') }}
                        </div>
                        {% if bug.assignedTo %}
                            <div class="bug-assigned-to">
                                <span class="label">{{ 'label.assigned_to'|trans }}</span> {{ bug.assignedTo.email }}
                            </div>
                        {% endif %}
                        <div class="bug-status">
                            <span class="label">{{ 'label.status'|trans }}</span>
                            {% if bug.isClosed and not bug.isArchived %}
                                {{ 'label.status_closed'|trans }}
                            {% elseif bug.isClosed and bug.isArchived %}
                                {{ 'label.status_archived'|trans }}
                            {% else %}
                                {{ 'label.status_pending'|trans }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="bug-actions d-flex flex-column align-items-end">
                        <p>
                            <a href="{{ url('bug_show', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.show|trans' }}">
                                {{ 'action.show'|trans }}
                            </a>
                        </p>
                        <p>
                            {% if is_granted('BUG_EDIT', bug) %}
                            <a href="{{ url('bug_edit', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.edit|trans' }}">
                                {{ 'action.edit'|trans }}
                            </a>
                            {% endif %}
                        </p>
                        <p>
                            {% if is_granted('BUG_DELETE', bug) %}
                            <a href="{{ url('bug_delete', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.delete|trans' }}">
                                {{ 'action.delete'|trans }}
                            </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}