{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bug_list'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bug_list'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="text-left create-bug-button">
            <a href="{{ url('bug_create') }}" class="btn btn-primary" title="{{ 'action.create_new_bug'|trans }}">
                {{ 'action.create_new_bug'|trans }}
            </a>
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <div class="bug-list">
            {% for bug in pagination.items %}
                <div class="bug-item">
                    <div class="bug-info">
                        <div class="bug-updated-at"><span class="label">Updated at:</span> {{ bug.updatedAt|format_date('long') }}</div>
                        <div class="bug-details">
                            <span class="bug -id"><span class="label">ID:</span> {{ bug.id }}</span>
                            <span class="bug-title"><span class="label">Title:</span> {{ bug.title }}</span>
                        </div>
                        <div class="bug-created-at"><span class="label">Created at:</span> {{ bug.createdAt|format_date('long') }}</div>
                        <div class="bug-category"><span class="label">Category:</span> {{ bug.category.title }}</div>
                        <div class="bug-description">
                            <span class="label">Description:</span> {{ bug.description|slice(0,100) ~'...' }}
                        </div>
                        <div class="bug-tags">
                            <span class="label">Tags:</span>
                            {% for tag in bug.tags %}
                                <span class="bug-tag">{{ tag.title }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="bug-actions">
                        <p>
                            <a href="{{ url('bug_show', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.show|trans' }}">
                                {{ 'action.show'|trans }}
                            </a>
                        </p>
                        <p>
                            <a href="{{ url('bug_edit', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.edit|trans' }}">
                                {{ 'action.edit'|trans }}
                            </a>
                        </p>
                        <p>
                            <a href="{{ url('bug_delete', {id:bug.id}) }}" class="btn btn-primary" title="{{ 'action.delete|trans' }}">
                                {{ 'action.delete'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {% include 'default/_single_alert_message.html.twig' with {
                type: 'warning',
                message: 'message.empty_list'|trans
            } %}
        </p>
    {% endif %}
{% endblock %}