{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bug_details'|trans({'%id%': bug.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1 class="mb-4">{{ 'title.bug_details'|trans({'%id%': bug.id|default('')}) }}</h1>

    {% if bug is defined %}
        <div class="mt-4">
            <a href="{{ url('bug_index') }}" class="btn btn-outline-secondary">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>

        <div class="d-flex flex-wrap mt-4">
            <div class="bug-details border rounded p-4 bg-white shadow-sm w-50" style="box-sizing: border-box;">
                <div class="mb-">
                    <div class="fw-bold">{{ 'label.author'|trans }}</div>
                    <div>{{ bug.author.email }}</div>
                    <div class="fw-bold mt-2">{{ 'label.id'|trans }}</div>
                    <div>{{ bug.id }}</div>
                    <div class="fw-bold mt-2">{{ 'label.created_at'|trans }}</div>
                    <div>{{ bug.createdAt|format_date('long') }}</div>
                    <div class="fw-bold mt-2">{{ 'label.updated_at'|trans }}</div>
                    <div>{{ bug.updatedAt|format_date('long') }}</div>
                    {% if bug.assignedTo %}
                        <div class="fw-bold mt-2">{{ 'label.assigned_to'|trans }}</div>
                        <div>{{ bug.assignedTo.email }}</div>
                    {% endif %}
                    <div class="bug-status">
                        <span class="fw-bold mt-2">{{ 'label.status'|trans }}</span>
                        {% if bug.isClosed and not bug.isArchived %}
                            {{ 'label.status_closed'|trans }}
                        {% elseif bug.isClosed and bug.isArchived %}
                            {{ 'label.status_archived'|trans }}
                        {% else %}
                            {{ 'label.status_pending'|trans }}
                        {% endif %}
                    </div>
                </div>
                <div class="mb-4">
                    <div class="fw-bold">{{ 'label.title'|trans }}</div>
                    <div>{{ bug.title }}</div>
                    <div class="fw-bold mt-2">{{ 'label.description'|trans }}</div>
                    <div>{{ bug.description }}</div>
                    <div class="fw-bold mt-2">{{ 'label.category'|trans }}</div>
                    <div>{{ bug.category.title }}</div>
                    <div>
                        <div class="fw-bold">{{ 'label.tags'|trans }}</div>
                        <div>{{ bug.tags|map(tag => tag.title)|join(', ') }}</div>
                    </div>
                </div>
            </div>

            <div class="comments-container w-50 ps-md-4" style="box-sizing: border-box;">
                <h2 class="h5">{{ 'label.comments'|trans }}</h2>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="{{ path('bug_comment', {'id': bug.id}) }}" class="btn btn-primary btn-sm mb-3">
                        {{ 'action.add_comment'|trans }}
                    </a>
                {% endif %}

                {% if comments is defined and comments|length > 0 %}
                    {% for comment in comments %}
                        <div class="comment border rounded p-3 mb-3 bg-light">
                            <div class="mb-1 text-muted small">
                                <strong>{{ comment.author.email }}</strong><br>
                                {{ comment.updatedAt|format_datetime('medium') }}
                            </div>
                            <hr class="my-2">
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <div class="d-flex gap-2 mt-2">
                                {% if is_granted('EDIT', comment) %}
                                    <a href="{{ path('bug_comment_edit', {'bugId': bug.id, 'commentId': comment.id}) }}" class="btn btn-sm btn-outline-primary">
                                        {{ 'action.edit'|trans }}
                                    </a>
                                {% endif %}
                                {% if is_granted('DELETE', comment) %}
                                    <a href="{{ path('bug_comment_delete', {'bugId': bug.id, 'commentId': comment.id}) }}"
                                       class="btn btn-sm btn-outline-danger">
                                        {{ 'action.delete'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">{{ 'label.no_comments'|trans }}</p>
                {% endif %}
            </div>
        </div>

        <div class="mt-4">
            {% if is_granted('BUG_CLOSE', bug) and not bug.isClosed %}
                <a href="{{ path('bug_close', {id: bug.id}) }}" class="btn btn-primary me-2">
                    {{ 'action.close'|trans }}
                </a>

            {% elseif is_granted('BUG_ARCHIVE', bug) and bug.isClosed and not bug.isArchived %}
                <a href="{{ path('bug_archive', {id: bug.id}) }}" class="btn btn-primary me-2">
                    {{ 'action.archive'|trans }}
                </a>

            {% endif %}
        </div>
    {% else %}
        <p class="alert alert-warning">{{ 'message.record_not_found'|trans }}</p>
    {% endif %}
{% endblock %}
