{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.bug_details'|trans({'%id%': bug.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.bug_details'|trans({'%id%': bug.id|default('')}) }}</h1>
    {% if bug is defined and bug|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ bug.author.email }}</dd>
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ bug.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ bug.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ bug.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  bug.title }}</dd>
            <dt>{{ 'label.description'|trans }}</dt>
            <dd>{{  bug.description }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>
                {{ bug.tags|map(tag => tag.title)|join(', ') }}
            </dd>
        </dl>

        <h2>{{ 'label.comments'|trans }}</h2>
        {% if bug.comments is defined and bug.comments|length > 0 %}
            <ul>
                {% for comment in bug.comments %}
                    <li>
                        <p><strong>{{ comment.author.email }}</strong> ({{ comment.updatedAt|format_datetime('medium') }})</p>
                        <p>{{ comment.content }}</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ 'label.no_comments'|trans }}</p>
        {% endif %}

        <p>
            <a href="{{ url('bug_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}