{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}

{% block body %}
    <h1>Sign up</h1>
    {% for error in registrationForm.vars.errors %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword.first) }}
    {{ form_row(registrationForm.plainPassword.second) }}
    <button type="submit" class="btn btn-primary">Sign up</button>
    {{ form_end(registrationForm) }}

{% endblock %}
