{% extends 'base.html.twig' %}

{% block title %}{{ 'title.user_details'|trans }}{% endblock %}

{% block body %}
    <h2>{{ 'title.user_details'|trans }}</h2>

    <div class="mb-3">
        <p><strong>{{ 'label.email'|trans }}</strong>: {{ user.email }}</p>
        <p><strong>{{ 'label.password'|trans }}</strong>: ********</p>
    </div>

    <a href="{{ path('user_edit_email', {'id': user.id}) }}" class="btn btn-primary">{{ 'action.edit_email'|trans }}</a>
    <a href="{{ path('user_edit_password', {'id': user.id}) }}" class="btn btn-primary">{{ 'action.edit_password'|trans }}</a>

    <a href="{{ path('user_index') }}" class="btn btn-secondary mt-3">{{ 'action.back'|trans }}</a>
{% endblock %}
